<h1>Listing Products</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td class="right"><%= number_to_currency product.price %></td>
        <td><%= link_to 'Add to cart', shopping_cart_path(:product_id => product), :method => 'POST' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
